@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}
.container {
    width: 1140px;
    max-width: 95%;
    margin: 0 auto;
  }
.navbar{
    width: 100%;
    height: 110px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlogo img{
    width: 65px;
    height: 65px;
    margin: 18px 90px;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.butons{
  margin-left: 100px;
}
.buton{
  width: 98px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #35AFF4;
  background-color: white;
  margin-right: 10px;
}
.buton a{
  padding: 20px;
  color: #35AFF4;
}
.buton1{
  width: 98px;
  height: 50px;
  border-radius: 10px;
  border: 1px;
  background-color:#35AFF4;
}
.buton1  a{
  padding: 20px;
  color: white;
}
.container1{
    background-color: #35AFF41A;
}
.nav{
    height: 62px;
}
.nav ul{
    display: flex;
    gap: 5px;
    padding-top: 20px;
    padding-left: 150px;
}
.nav i{
    width: 20px;
    height: 20px;
}
.nav ul li a{
    color: #0F1416;
}
.mains{
    background-image: url(Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-top: 20px;
    width: 100%;
}
.mainn h2{
    padding: 350px 80px ;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 80px;
}
.mtn{
    margin: 50px 80px;
}
.mtn h2{
    line-height: 80px;
    align-self: stretch;
    color: var(--Dark-500, #0F1416);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}
.mtn p{
    padding-bottom: 20px;
    line-height: 25px;
    padding-top: 5px;
    font-size: 17px;
}




.footer {
    border-top: 1px solid #a6aaac33;
    margin-top: 120px;
  }
  .footer_col {
    display: flex;
    align-items: baseline;
    gap: 50px;
    border-bottom: 1px solid #a6aaac33;
  }
  .footer_logo {
    margin: 30px 0;
  }
  .footer_contact {
    width: calc(30% - 50px * 0.3);
  }
  .footer_contact_col {
    margin-bottom: 20px;
  }
  .footer_contact_col p {
    display: flex;
    gap: 10px;
    align-items: baseline;
    color: var(--text_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
  .footer_add {
    display: flex;
    justify-content: space-between;
    width: calc(70% - 50px * 0.7);
  }
  .footer_links h1 {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
  }
  .footer_links ul li {
    padding-bottom: 16px;
  }
  .footer_links ul li a {
    color: var(--text_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
  .footer_social {
    margin: 20px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  .footer_social_col p {
    color: var(--text_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
  }
  .footer_social_col {
    display: flex;
    gap: 20px;
  }
  .footer_social_col i {
    cursor: pointer;
  }


  :root {
    --main_color: #35aff4;
    --text_color: #0f1416;
    --like_color: #ffca01;
    --white: #fff;
    --border_color: 1px solid rgba(166, 170, 172, 0.2);
  }